.wrapper{
    width: 1420px;
    height: 80px;
    background-color: beige;
    border-bottom: 2px solid #2a9f74;
    .logo-waka{
        padding-top: 10px;
        width: 15%;
        height: auto;
    }
}