.header-tab{
    display: flex;
    width: 1150px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;    
    .reading-book-management{
      background-color: #04AA6D;
      border: 1px solid black;
      margin-right: 3px;
      color: rgb(249, 247, 247);
      line-height: 30px;
      // border: 1px solid transparent;
      text-decoration: none;
      font-size: 16px;
      padding-right: 5px;       
    }
    .add-reading-book{
      background-color: #04AA6D;
      border: 1px solid black;
      margin-right: 3px;
      color: rgb(245, 242, 242);
      line-height: 30px;
      // border: 1px solid transparent;
      text-decoration: none;
      font-size: 16px;
      padding-right: 5px;  
    }
}

.content-box{
  input{
    font-size: 16px;
  }
  .header-add-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    .cover-box{
    }
    .cover-image{
      width: 122px;
      height: 178px;
      border: 1px solid black
    }
    .cover-upload-button{
      margin-left: 10px;
      bottom: 0px;
      width: 80px;
      height: 25px;
      font-size: 14px;
    }
    .des-box{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      .description{
        width: 943px;
        height: 100%;
        font-size: 16px;
      }
    }
  }
  .url-box{
    display: flex;
    .url-title{
      font-size: 16px;
      color: black;
      margin-left: 12.1%;
      margin-right: 8.6%;
    }
    .url-input{
      width: 66.5%;
    }
  }
  .grid-container{
    width: fit-content;
    margin-left: 12.1%;
    margin-right: 7%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    .grid-item {
      color: black;
      text-align: left;
      font-size: 16px;
      grid-gap: 5px;
    }
  }
}

.button-box{
  padding-left: 138px;
  display: flex;
  .button-add-new{
    margin-right: 20px;
    font-size: 16px;
    height: 30px;
    background-color: #04AA6D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .button-clear{
    font-size: 16px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #db5807;
    color: white;
  }
}