.tab-wrapper{
    text-align: start;
    border: 1px solid black;
    margin-top: 2px;
    font-size: 20px;
    background-color: #089a64;
    padding-left: 5px;
    .link{
        text-decoration: none;
        color: rgb(248, 245, 245);
    }
}