.wrapper {
    width: 1100px;
    padding: 20px;
    .category {
    }
    .content {
        display: flex;
        .content-left {
            .content-left-top {
                .cover {
                    img {
                        width: 240px;
                        height: 350px;
                        box-shadow: 0 0 11px rgba(33, 33, 33, 0.6);
                    }
                }
            }
            .content-left-bottom {
                padding-top: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                div {
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    background-color: rgb(184, 184, 184, 0.1);
                    .heart-icon {
                        cursor: pointer;
                        color: #70706e;
                        margin-bottom: 10px;
                        font-size: 27px;
                        &:active {
                            font-size: 25px;
                        }
                    }
                }
                span {
                    color: black;
                    font-size: 14px;
                }
            }
        }
        .content-right {
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            align-items: start;
            .book-detail {
                display: flex;
                flex-direction: column;
                align-items: start;
                .require-box {
                    .require {
                        color: #ff9900;
                        .check-condition {
                            color: #097a63;
                        }
                    }
                }
                span {
                    color: black;
                    font-size: 14px;
                    line-height: 28px;
                }
                p {
                    font-size: 16px;
                    color: black;
                    text-align: start;
                    margin-top: 20px;
                }
                h4 {
                    color: black;
                    font-size: 20px;
                    font-weight: 400;
                }
                button {
                    background-color: #1ba085;
                    border-radius: 3px;
                    font-size: 18px;
                    transition: all 0.2s linear;
                    border: 1px solid white;
                    .read-book {
                        text-decoration: none;
                        font-size: 18px;
                        color: white;
                    }
                    &:hover {
                        background-color: #097a63;
                        .read-book {
                            color: white;
                        }
                    }
                }
                .views {
                    border-top: 1px solid rgba(33, 33, 33, 0.05);
                    height: 27.7px;
                    font-size: 13px;
                    display: flex;
                    color: black;
                    display: flex;
                    align-items: center;
                    margin-right: 50px;
                    .views-icon {
                        font-size: 18px;
                        color: #1ba085;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
